<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28845458288-di0g5lj7g9hrr5rfov1l11d5dhe9kmdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28845458288-di0g5lj7g9hrr5rfov1l11d5dhe9kmdn</string>
	<key>API_KEY</key>
	<string>AIzaSyDrEK2QkvUpwqrVPz5_pjkjr8VGs16pHNo</string>
	<key>GCM_SENDER_ID</key>
	<string>28845458288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bufni.FirestorePresentationExample</string>
	<key>PROJECT_ID</key>
	<string>firestoredaysample</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoredaysample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28845458288:ios:087c70afa2a657f0</string>
	<key>DATABASE_URL</key>
	<string>https://firestoredaysample.firebaseio.com</string>
</dict>
</plist>